NEXT_PUBLIC_SUPABASE_URL="https://gtaiehdqxuqakrxetljb.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd0YWllaGRxeHVxYWtyeGV0bGpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NzAwODIsImV4cCI6MjA5NTQ0NjA4Mn0.3eXU3HqV1m7XCuuGQfI5lQ3cLbptPgkVqeQORXqL4i8"
NEXT_PUBLIC_ADMIN_EMAIL=zub.deen000@gmail.com
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd0YWllaGRxeHVxYWtyeGV0bGpiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTg3MDA4MiwiZXhwIjoyMDk1NDQ2MDgyfQ.7j8rWq8n7v
